html {
    font-size: 22px;
}

table, td, th {
    border-collapse: collapse;

    border-style: dashed;
    border-width: 2px;
    border-color: black;

    /* 한줄로 작성 시 */
    /* border: 1px solid black; */

    /* 텍스트 중앙 정렬, tac */
    text-align: center;

    /* 요소 중앙 정렬 */
    margin: 0 auto;
}

tr, td {
    /* 안쪽 여백 */
    padding: 10px;
} 

.browser-color {
    color: red;
}

.google-hex {
    color: #a52a2a;
    font-family: 'Oswald', sans-serif;
}

.google-rgb {
    color: rgb(0, 255, 0);
    font-family: 'Fuzzy Bubbles', cursive;
}

.google-rgba {
    color: rgba(0, 0, 255, 0.4);
    font-family: 'Raleway', sans-serif;
}

.px-parent {
    /* 브라우저 기본 폰트 사이즈 16px */
    font-size: 32px;
}

.px-child {
    font-size: 16px;
}

.em-parent {
    font-size: 3em;
}

.rem-child {
    font-size: 0.5em;
}

.rem-parent {
    font-size: 3rem;
}

.em-child {
    font-size: 0.5rem;
}